In [76]:


import pandas as pd
data = pd.read_csv('2022_APMCM_C_Data.csv',encoding='utf-8')	#读取csv文件
data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1833-01-01,2.290,2.487,Kabul,Afghanistan,34.56N,70.05E
1,1833-02-01,3.319,2.325,Kabul,Afghanistan,34.56N,70.05E
2,1833-03-01,7.444,2.733,Kabul,Afghanistan,34.56N,70.05E
3,1833-04-01,13.576,2.266,Kabul,Afghanistan,34.56N,70.05E
4,1833-05-01,19.321,2.362,Kabul,Afghanistan,34.56N,70.05E
...,...,...,...,...,...,...,...
239172,2013-5-1,18.298,1.117,Harare,Zimbabwe,18.48S,30.42E
239173,2013-6-1,17.020,0.519,Harare,Zimbabwe,18.48S,30.42E
239174,2013-7-1,16.299,0.510,Harare,Zimbabwe,18.48S,30.42E
239175,2013-8-1,19.232,0.808,Harare,Zimbabwe,18.48S,30.42E
239176,2013-9-1,NaN,NaN,Harare,Zimbabwe,18.48S,30.42E

In [77]:


print(data.isnull().sum())  #统计每列有几个缺失值
missing_col = data.columns[data.isnull().any()].tolist() #找出存在缺失值的列

import numpy as np
#统计每个变量的缺失值占比
def CountNA(data):
    cols = data.columns.tolist()    #cols为data的所有列名
    n_df = data.shape[0]    #n_df为数据的行数
    for col in cols:
        missing = np.count_nonzero(data[col].isnull().values)  #col列中存在的缺失值个数
        mis_perc = float(missing) / n_df * 100
        print("{col}的缺失比例是{miss}%".format(col=col,miss=mis_perc))

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [78]:


data.isnull().sum()

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [79]:


data.fillna(data.median(),inplace=True) # 对每一列的缺失值，填充当列的均值

C:\Users\31815\AppData\Local\Temp\ipykernel_34212\148004313.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.median(),inplace=True) # 对每一列的缺失值，填充当列的均值

In [80]:


data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1833-01-01,2.290,2.487,Kabul,Afghanistan,34.56N,70.05E
1,1833-02-01,3.319,2.325,Kabul,Afghanistan,34.56N,70.05E
2,1833-03-01,7.444,2.733,Kabul,Afghanistan,34.56N,70.05E
3,1833-04-01,13.576,2.266,Kabul,Afghanistan,34.56N,70.05E
4,1833-05-01,19.321,2.362,Kabul,Afghanistan,34.56N,70.05E
...,...,...,...,...,...,...,...
239172,2013-5-1,18.298,1.117,Harare,Zimbabwe,18.48S,30.42E
239173,2013-6-1,17.020,0.519,Harare,Zimbabwe,18.48S,30.42E
239174,2013-7-1,16.299,0.510,Harare,Zimbabwe,18.48S,30.42E
239175,2013-8-1,19.232,0.808,Harare,Zimbabwe,18.48S,30.42E
239176,2013-9-1,20.428,0.592,Harare,Zimbabwe,18.48S,30.42E

In [81]:


data.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [82]:


cos_list = ['AverageTemperature','AverageTemperatureUncertainty']

In [83]:


#当数值超出这个距离，可以认为它是异常值
cols = data.columns.tolist()
for item in cos_list:
    data[item + '_zscore'] = (data[item] - data[item].mean()) / data[item].std()
    z_abnormal = abs(data[item + '_zscore']) > 3
    print(item + '中有' + str(z_abnormal.sum())+'个异常值')

AverageTemperature中有1941个异常值
AverageTemperatureUncertainty中有4448个异常值

In [84]:

# # 把异常值替换为中位数
# for item in cos_list:
#     data[item + '_zscore'] = (data[item] - data[item].mean()) / data[item].std()
#     z_abnormal = abs(data[item + '_zscore']) > 3
#     data.loc[z_abnormal, item] = data[item].median()

In [85]:


# #当数值超出这个距离，可以认为它是异常值
# cols = data.columns.tolist()
# for item in cos_list:
#     data[item + '_zscore'] = (data[item] - data[item].mean()) / data[item].std()
#     z_abnormal = abs(data[item + '_zscore']) > 3
#     print(item + '中有' + str(z_abnormal.sum())+'个异常值')

In [86]:


data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,AverageTemperature_zscore,AverageTemperatureUncertainty_zscore
0,1833-01-01,2.290,2.487,Kabul,Afghanistan,34.56N,70.05E,-1.626159,1.598795
1,1833-02-01,3.319,2.325,Kabul,Afghanistan,34.56N,70.05E,-1.521195,1.430064
2,1833-03-01,7.444,2.733,Kabul,Afghanistan,34.56N,70.05E,-1.100422,1.855017
3,1833-04-01,13.576,2.266,Kabul,Afghanistan,34.56N,70.05E,-0.474924,1.368613
4,1833-05-01,19.321,2.362,Kabul,Afghanistan,34.56N,70.05E,0.111098,1.468602
...,...,...,...,...,...,...,...,...,...
239172,2013-5-1,18.298,1.117,Harare,Zimbabwe,18.48S,30.42E,0.006747,0.171871
239173,2013-6-1,17.020,0.519,Harare,Zimbabwe,18.48S,30.42E,-0.123617,-0.450977
239174,2013-7-1,16.299,0.510,Harare,Zimbabwe,18.48S,30.42E,-0.197163,-0.460351
239175,2013-8-1,19.232,0.808,Harare,Zimbabwe,18.48S,30.42E,0.102020,-0.149969
239176,2013-9-1,20.428,0.592,Harare,Zimbabwe,18.48S,30.42E,0.224018,-0.374944

In [87]:
# 先求每一年的平均温度，再求每十年的平均温度的平均值，然后以十年为间隔，作为横坐标，求出每十年的平均温度的平均值，作为纵坐标
import matplotlib.pyplot as plt
# 把dt划分为10年为一个间隔
data['dt'] = pd.to_datetime(data['dt'])
data['year'] = data['dt'].dt.year
data['decade'] = data['year'] // 10 * 10
# 然后替换掉dt
data['dt'] = data['decade']

In [41]:


data['AverageTemperature'][0]=data.median()[0]

C:\Users\31815\AppData\Local\Temp\ipykernel_34212\3195046523.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data['AverageTemperature'][0]=data.median()[0]
C:\Users\31815\AppData\Local\Temp\ipykernel_34212\3195046523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['AverageTemperature'][0]=data.median()[0]

In [42]:


data['AverageTemperature'][0]

20.428

In [43]:


data.median()

C:\Users\31815\AppData\Local\Temp\ipykernel_34212\693380748.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

AverageTemperature                      20.428000
AverageTemperatureUncertainty            0.592000
AverageTemperature_zscore                0.224018
AverageTemperatureUncertainty_zscore    -0.374944
dtype: float64

In [44]:


for item in cos_list:
    data[item + '_zscore'] = (data[item] - data[item].mean()) / data[item].std()
    z_abnormal = abs(data[item + '_zscore']) > 3
    print(item + '中有' + str(z_abnormal.sum())+'个异常值')

AverageTemperature中有1941个异常值
AverageTemperatureUncertainty中有4448个异常值