# 百货商店客户细分

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

## 流水数据

In [7]:
# 读数据
sales = pd.read_csv('data/sales.csv', encoding='utf-8')
sales

C:\Users\31815\AppData\Local\Temp\ipykernel_24864\2579366754.py:2: DtypeWarning: Columns (0,11) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('data/sales.csv', encoding='utf-8')

,会员卡号,消费产生的时间,商品编码,销售数量,商品售价,消费金额,商品名称,此次消费的会员积分,收银机号,单据号,柜组编码,柜组名称
0,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,290.0,270.20,兰芝化妆品正价瓶,270.20,6,25bb,8077.0,兰芝柜
1,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,325.0,302.80,兰芝化妆品正价瓶,302.80,6,25bb,8077.0,兰芝柜
2,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,195.0,181.80,兰芝化妆品正价瓶,181.80,6,25bb,8077.0,兰芝柜
3,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,270.0,251.55,兰芝化妆品正价瓶,251.55,6,25bb,8077.0,兰芝柜
4,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,2,245.0,456.55,兰芝化妆品正价瓶,456.55,6,25bb,8077.0,兰芝柜
...,...,...,...,...,...,...,...,...,...,...,...,...
1893527,607c7cde,2018-01-03 21:38:15.343,c483e08b,1,200.0,200.00,植村秀眉笔4g,200.00,91,3d84,8156.0,Shu Uemura
1893528,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,1.0,1.00,爱慕内衣正价件,1.00,264,7cd8,4332.0,Aimer
1893529,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,490.0,490.00,爱慕内衣正价件,490.00,264,7cd8,4332.0,Aimer
1893530,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,280.0,280.00,爱慕内衣正价件,280.00,264,7cd8,4332.0,Aimer
1893531,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,880.0,880.00,爱慕内衣正价件,880.00,264,7cd8,4332.0,Aimer

In [26]:
# 把时间转换成时间格式
sales['消费产生的时间'] = pd.to_datetime(sales['消费产生的时间'])

In [27]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893532 entries, 0 to 1893531
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   会员卡号       object
 1   消费产生的时间    datetime64[ns]
 2   商品编码       object
 3   销售数量       int64
 4   商品售价       float64
 5   消费金额       float64
 6   商品名称       object
 7   此次消费的会员积分  float64
 8   收银机号       int64
 9   单据号        object
 10  柜组编码       float64
 11  柜组名称       object
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 173.4+ MB

## 会员信息

In [16]:
# 会员信息
userinfo = pd.read_excel('data/userinfo.xlsx',parse_dates=['出生日期','登记时间'])
userinfo

            会员卡号                 出生日期   性别                    登记时间
0       c68b20b4  2002-11-02 00:00:00  0.0 2013-05-11 00:00:00.000
1       1ca15332                  NaN  0.0 2004-11-04 16:31:52.436
2       a37cc182  1967-02-17 00:00:00  0.0 2004-12-31 21:24:34.216
3       2ab88539  1982-06-01 00:00:00  0.0 2010-11-19 00:00:00.000
4       b4c77269  1964-02-05 00:00:00  0.0 2007-12-14 00:00:00.000
...          ...                  ...  ...                     ...
194755  a97474e0                  NaN  NaN                     NaT
194756  4e14ad22                  NaN  0.0 2013-08-30 00:00:00.000
194757  f20299a8                  NaN  NaN 2014-03-18 00:00:00.000
194758  a3a27f12  1973-01-10 00:00:00  0.0 2015-03-10 00:00:00.000
194759  a03cc001  1964-08-11 00:00:00  0.0 2010-08-09 00:00:00.000

[194760 rows x 4 columns]

In [18]:
# 日期处理
userinfo['出生日期'] = pd.to_datetime(userinfo['出生日期'], errors='coerce')

In [19]:
userinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194760 entries, 0 to 194759
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员卡号    194760 non-null  object
 1   出生日期    160553 non-null  datetime64[ns]
 2   性别      185325 non-null  float64
 3   登记时间    182076 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 5.9+ MB

## 清洗会员数据

### 存在部分会员登记时间早于会员出生时间

In [22]:
# 提取出生日期大于登记日期的数据
time1=(userinfo['登记时间']-userinfo['出生日期']).dt.days
part1_user = userinfo.loc[time1>0,:]
part1_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154163 entries, 0 to 194759
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员卡号    154163 non-null  object
 1   出生日期    154163 non-null  datetime64[ns]
 2   性别      153176 non-null  float64
 3   登记时间    154163 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 5.9+ MB

### 存在缺失值

In [23]:
part1_user.dropna(inplace=True)

C:\Users\31815\AppData\Local\Temp\ipykernel_24864\1540930359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part1_user.dropna(inplace=True)

### 删除重复会员

In [24]:
part1_user.drop_duplicates(inplace=True)

C:\Users\31815\AppData\Local\Temp\ipykernel_24864\741189198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part1_user.drop_duplicates(inplace=True)

In [25]:
part1_user.shape

(153176, 4)

## 清洗流水数据

### 删除退货订单

In [28]:
# 删除销售数量为0的数据
sales = sales.loc[sales['销售数量']>0,:]
sales

,会员卡号,消费产生的时间,商品编码,销售数量,商品售价,消费金额,商品名称,此次消费的会员积分,收银机号,单据号,柜组编码,柜组名称
0,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,290.0,270.20,兰芝化妆品正价瓶,270.20,6,25bb,8077.0,兰芝柜
1,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,325.0,302.80,兰芝化妆品正价瓶,302.80,6,25bb,8077.0,兰芝柜
2,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,195.0,181.80,兰芝化妆品正价瓶,181.80,6,25bb,8077.0,兰芝柜
3,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,270.0,251.55,兰芝化妆品正价瓶,251.55,6,25bb,8077.0,兰芝柜
4,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,2,245.0,456.55,兰芝化妆品正价瓶,456.55,6,25bb,8077.0,兰芝柜
...,...,...,...,...,...,...,...,...,...,...,...,...
1893527,607c7cde,2018-01-03 21:38:15.343,c483e08b,1,200.0,200.00,植村秀眉笔4g,200.00,91,3d84,8156.0,Shu Uemura
1893528,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,1.0,1.00,爱慕内衣正价件,1.00,264,7cd8,4332.0,Aimer
1893529,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,490.0,490.00,爱慕内衣正价件,490.00,264,7cd8,4332.0,Aimer
1893530,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,280.0,280.00,爱慕内衣正价件,280.00,264,7cd8,4332.0,Aimer
1893531,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,880.0,880.00,爱慕内衣正价件,880.00,264,7cd8,4332.0,Aimer

### 删除消费金额不为正的订单

In [30]:
sales = sales.loc[sales['消费金额']>0,:]
sales

,会员卡号,消费产生的时间,商品编码,销售数量,商品售价,消费金额,商品名称,此次消费的会员积分,收银机号,单据号,柜组编码,柜组名称
0,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,290.0,270.20,兰芝化妆品正价瓶,270.20,6,25bb,8077.0,兰芝柜
1,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,325.0,302.80,兰芝化妆品正价瓶,302.80,6,25bb,8077.0,兰芝柜
2,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,195.0,181.80,兰芝化妆品正价瓶,181.80,6,25bb,8077.0,兰芝柜
3,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,270.0,251.55,兰芝化妆品正价瓶,251.55,6,25bb,8077.0,兰芝柜
4,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,2,245.0,456.55,兰芝化妆品正价瓶,456.55,6,25bb,8077.0,兰芝柜
...,...,...,...,...,...,...,...,...,...,...,...,...
1893527,607c7cde,2018-01-03 21:38:15.343,c483e08b,1,200.0,200.00,植村秀眉笔4g,200.00,91,3d84,8156.0,Shu Uemura
1893528,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,1.0,1.00,爱慕内衣正价件,1.00,264,7cd8,4332.0,Aimer
1893529,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,490.0,490.00,爱慕内衣正价件,490.00,264,7cd8,4332.0,Aimer
1893530,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,280.0,280.00,爱慕内衣正价件,280.00,264,7cd8,4332.0,Aimer
1893531,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,880.0,880.00,爱慕内衣正价件,880.00,264,7cd8,4332.0,Aimer

## 合并数据

In [34]:
data = pd.merge(sales,part1_user,how='outer',on='会员卡号')
data

,会员卡号,消费产生的时间,商品编码,销售数量,商品售价,消费金额,商品名称,此次消费的会员积分,收银机号,单据号,柜组编码,柜组名称,出生日期,性别,登记时间
0,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1.0,290.0,270.20,兰芝化妆品正价瓶,270.20,6.0,25bb,8077.0,兰芝柜,NaT,NaN,NaT
1,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1.0,325.0,302.80,兰芝化妆品正价瓶,302.80,6.0,25bb,8077.0,兰芝柜,NaT,NaN,NaT
2,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1.0,195.0,181.80,兰芝化妆品正价瓶,181.80,6.0,25bb,8077.0,兰芝柜,NaT,NaN,NaT
3,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1.0,270.0,251.55,兰芝化妆品正价瓶,251.55,6.0,25bb,8077.0,兰芝柜,NaT,NaN,NaT
4,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,2.0,245.0,456.55,兰芝化妆品正价瓶,456.55,6.0,25bb,8077.0,兰芝柜,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973746,9e7c711e,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-06-24,1.0,2013-08-30
1973747,5b7c99c6,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979-04-23,1.0,2010-06-14
1973748,3f98ac2e,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981-03-02,1.0,2013-08-30
1973749,a3a27f12,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1973-01-10,0.0,2015-03-10
1973750,a03cc001,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964-08-11,0.0,2010-08-09

## 数据暂存

## 学习分箱

In [36]:
pd.Timestamp(year=2023,month=2,day=22)
# 第一：计算年龄
# 第二：指定区间进行分箱
# 第三：借助 map，映射成中文信息放到数据中

Timestamp('2023-02-22 00:00:00')