In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.477139 -1.863750  0.711547  0.396061
2013-01-02  0.381399  0.411236  0.220802 -0.587987
2013-01-03 -0.881071  0.199006  1.287369 -0.752038
2013-01-04  0.862251 -0.107052  0.290958 -0.503820
2013-01-05  0.044070  0.731082 -0.607423 -0.632276
2013-01-06  0.115358  0.964513 -0.796434  0.995819

In [ ]:
df2=pd.DataFrame({ 'A' : 1.,},)